{% extends 'base.html' %}

{% block title %}
    Хорватия и Черногория
{% endblock %}


<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/image/4.jpg" class="rounded mx-auto d-block" alt="..." height="650">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: black; font-size: 24px; font-weight: bold;">Вид из крепости</h5>
        <p style="color: black; font-size: 24px; font-weight: bold;">Было очень жарко</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/image/2.jpg" class="rounded mx-auto d-block" alt="..." height="650">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: black; font-size: 24px; font-weight: bold;">Два острова</h5>
        <p style="color: black; font-size: 24px; font-weight: bold;">
    Залив в Адриатическом море, где раньше останавливались пираты
  </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../static/image/5.jpg" class="rounded mx-auto d-block" alt="..." height="650">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: black; font-size: 24px; font-weight: bold;">Крепость</h5>
        <p style="color: black; font-size: 24px; font-weight: bold;">Хорватия. Дубровники</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>

