{% extends 'base.html' %}

{% block title %}
    Дубровники
{% endblock %}

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card" style="width: 80rem;">
          <img src="../static/image/3.JPG" class="rounded mx-auto d-block" alt="Хорватия" height="450px">
          <div class="card-body">
            <h5 class="card-title">Дубровники</h5>
            <p class="card-text">Очень красивый вид</p>
          </div>
        </div>
      </div>
    </div>
  </div>

